<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite">
<test thread-count="5" name="Test">
<parameter name="username" value="Abhinav"/>
<parameter name="password" value="Dmart@9872"/>
<parameter name="orderno" value="17998742"/>
<parameter name="TripsOrderno" value="15210612,15210608,15210610,15210517,15210516"/>
<parameter name="QTY" value="1"/>
<parameter name="DA" value="sourish.d01"/>
<classes>
<class name="enterprise_workbench.Baseclass"/>
<class name="cos_Test.COS_TestCases"/>
</classes>
</test>
</suite>
